<div class="all-conntent-page">
    <div class="home-conntent">
        <div fxLayout="column">
            <h1 class="main-header">You are about to lose your recording Would you like to <br>save
                and upload before closing this page?</h1>
            <div fxLayout="row" class="comman-from " style="padding-top: 10px;">

                <div class="row example-button3" style="padding-top:10px;">

                    <button mat-button>Save & Upload</button>
                 </div>

                <div class="row example-button4" style="padding-top:10px;" >

                    <button mat-button>Close without saving</button>

                </div>
              </div>
        </div>
    </div>
</div>