<style>
  .popupadd {
    color: #fff;
    background-color: #007bff;
    border-radius: 38px !important;
    padding: 0px;
    padding-left: 9px;
    padding-right: 10px;
    font-size: 14px;
    width: 24%;
    margin-left: 185px;
  }
</style>
<div class="header" fxLayout="row">
  <div fxFlex="50" fxLayoutAlign="flex-end">

    <img src="/assets/Cancel@2.png" [mat-dialog-close]="true" class="img-icons">
  </div>
</div>

<div mat-dialog-content style="height: fit-content; width: fit-content;">

  <form [formGroup]="angForm" novalidate (ngSubmit)="AddEvent(angForm.value)">
    <div>
      <div class="form-group">
        <mat-label class="matenterlable">Enter event Name</mat-label> <br>
        <input matInput class="form-control" formControlName="event" type="text">
        <!-- <app-field-error-display 
          [displayError]="isFieldValid('event')" 
          errorMsg="Please inform your city">
        </app-field-error-display><br> -->
      </div>
      <!-- <div
        *ngIf="angForm.controls['event'].invalid && (angForm.controls['event'].dirty || angForm.controls['event'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['event'].errors?.required">
          <div class="alert alert-warning alert-dismissible fade show" style="color: red;">
            Event is required
          </div>
        </div>
      </div> -->
    </div>

    <div>
      <div class="form-group">
        <mat-label>Enter Event Date</mat-label><br>
        <input matInput [matDatepicker]="picker" placeholder="mm/dd/yyyy" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>
      <!-- <div
        *ngIf="angForm.controls['date'].invalid && (angForm.controls['date'].dirty || angForm.controls['date'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['date'].errors?.required">
          <div class="alert alert-warning alert-dismissible fade show" style="color: red;">
            Date is required
          </div>
        </div>
      </div> -->

    </div>
    <div>
      <div class="form-group">
        <mat-label>Enter Event Discription</mat-label>
        <textarea matInput class="form-control" formControlName="discription" type="text"></textarea>
      </div>
      <!-- <div
        *ngIf="angForm.controls['discription'].invalid && (angForm.controls['discription'].dirty || angForm.controls['discription'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['discription'].errors?.required">
          <div class="alert alert-warning alert-dismissible fade show" style="color: red;">
            Discription is required
          </div>
        </div>
      </div> -->
    </div>

    <br> <button type="submit" mat-button class="popupadd" [disabled]="!angForm.valid">Add</button>
  </form>
</div>