<style>
    section {
        vertical-align: middle;
        height: 100%;
    }

    mat-card {
        width: 100%;
        height: 300px;
        display: block;
        margin-left: auto !important;
        margin-right: auto !important;

    }
</style>




<!-- <div fxLayout="row" class="header-contant">
    <div>
        <img class="header-contant-img" src="assets/Group 4497@3x.png">
    </div>
    <div fxFlex="86" fxLayoutAlign="end center" fxLayoutAlign.xs="end center">
        <div>
            
        </div>
    </div>
</div>
<div class="login-form">
    <div fxLayout="column" fxLayoutAlign="center">
        <form >
            <div class="loginForm_Data" fxLayout="column">
                <div class="sign-in">Sign-In</div>
                <div fxFlex="100" fxLayoutAlign="center center" class="login-error">
                    <mat-form-field class="box-width" appearance="outline" fxFlex="30">
                        <mat-label>EMAIl</mat-label>
                        <input matInput  placeholder="username@example.com">
                        <mat-icon matSuffix>person_outline</mat-icon>
                        <mat-error>Email is required</mat-error>
                    </mat-form-field>
                    
                </div>
                <div fxLayout="100" fxLayoutAlign="center">
                    <div fxFlex="30" fxLayoutAlign="end" class="box-width">
                        <button class="sign-up-button button-icon-img1" mat-raised-button> Next</button>
                    </div>
                </div>
            </div>
        </form>
       
    </div>
</div> -->


<!-- <mat-card>      
    <mat-card-title>    
        NEW SHOWS  
    </mat-card-title>    
    
    <mat-card-content>    
        <form>    
            <table>    
                <tr>    
                    <td>    
                        <mat-form-field class="demo-full-width">    
                            <input matInput placeholder="First Name">    
                        </mat-form-field>    
                    </td>    
                    <td>    
                        <mat-form-field class="demo-full-width">    
                            <input matInput placeholder="Last Name">    
                        </mat-form-field>    
                    </td>    
                </tr>    
                <tr>    
                    <td colspan="2">    
                        <mat-form-field class="demo-full-width">    
                            <textarea matInput placeholder="Address" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>    
                        </mat-form-field>    
                    </td>    
                </tr>    
                <tr>    
                    <td colspan="2">    
                        <mat-form-field class="demo-full-width">    
                            <input matInput [matDatepicker]="picker" placeholder="Date of birth">    
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>    
                            <mat-datepicker touchUi="true" #picker></mat-datepicker>    
                        </mat-form-field>    
                    </td>    
                </tr>    
                <tr>    
                    <td>    
                        <span>Gender</span><br><br>    
                        <mat-radio-group>    
                            <mat-radio-button value="1">Male</mat-radio-button>    
                            <mat-radio-button value="2">Female</mat-radio-button>    
                        </mat-radio-group>    
                    </td>    
                    <td><br>    
                        <mat-form-field>    
                            <mat-select placeholder="Select Blog" [(value)]="selected">    
                                <mat-option>-- Select Any --</mat-option>    
                                <mat-option value="1">C#Corner</mat-option>    
                                <mat-option value="2">C#Corner</mat-option>    
                                <mat-option value="3">C#Corner</mat-option>    
                            </mat-select>    
                        </mat-form-field>    
                    </td>    
                </tr>    
                <tr>    
                    <td colspan="2">    
                        <mat-form-field class="demo-full-width">    
                            <input matInput placeholder="Email">    
                        </mat-form-field>    
                    </td>    
                </tr>    
                <tr>    
                    <td colspan="2">    
    
                    </td>    
                </tr>    
                <tr>    
                    <td colspan="2" class="content-center">    
                        <button mat-raised-button color="accent">Submit</button>    
                        <button mat-raised-button color="accent">Clear</button>    
                    </td>    
                </tr>    
            </table>    
        </form>    
    </mat-card-content>    
</mat-card>    -->

<!-- <mat-card>      
    <mat-card-title>    
        NEW SHOWS  
    </mat-card-title>    
    
    <mat-card-content>    
        <form>    
            <table>    
                <tr>    
                    <td>    
                        <mat-form-field class="demo-full-width">    
                            <input matInput placeholder="First Name">    
                        </mat-form-field>    
                    </td>    
                    <td>    
                        <mat-form-field class="demo-full-width">    
                            <input matInput placeholder="Last Name">    
                        </mat-form-field>    
                    </td>    
                </tr>    
                <tr>    
                    <td colspan="2">    
                        <mat-form-field class="demo-full-width">    
                            <textarea matInput placeholder="Address" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>    
                        </mat-form-field>    
                    </td>    
                </tr>    
                <tr>    
                    <td colspan="2">    
                        <mat-form-field class="demo-full-width">    
                          section {
  vertical-align: middle;
  height: 100%;
} <input matInput [matDatepicker]="picker" placeholder="Date of birth">    
                          section {
  vertical-align: middle;
  height: 100%;
} <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>    
                          section {
  vertical-align: middle;
  height: 100%;
} <mat-datepicker touchUi="true" #picker></mat-datepicker>    
                        </section {
  vertical-align: middle;
  height: 100%;
}at-form-field>    
                    </td> section {
  vertical-align: middle;
  height: 100%;
}  
                </tr>    
                <tr>    
                    <td>  section {
  vertical-align: middle;
  height: 100%;
} 
                        <ssection {
  vertical-align: middle;
  height: 100%;
}an>Gender</span><br><br>    
                        <mat-radio-group>    
                            <mat-radio-button value="1">Male</mat-radio-button>    
                            <mat-radio-button value="2">Female</mat-radio-button>    
                        </mat-radio-group>    
                    </td>    
                    <td><br>    
                        <mat-form-field>    
                            <mat-select placeholder="Select Blog" [(value)]="selected">    
                                <mat-option>-- Select Any --</mat-option>    
                                <mat-option value="1">C#Corner</mat-option>    
                                <mat-option value="2">C#Corner</mat-option>    
                                <mat-option value="3">C#Corner</mat-option>    
                            </mat-select>    
                        </mat-form-field>    
                    </td>    
                </tr>    
                <tr>    
                    <td colspan="2">    
                        <mat-form-field class="demo-full-width">    
                            <input matInput placeholder="Email">    
                        </mat-form-field>    
                    </td>    
                </tr>    
                <tr>    
                    <td colspan="2">    
    
                    </td>    
                </tr>    
                <tr>    
                    <td colspan="2" class="content-center">    
                        <button mat-raised-button color="accent">Submit</button>    
                        <button mat-raised-button color="accent">Clear</button>    
                    </td>    
                </tr>    
            </table>    
        </form>    
    </mat-card-content>    
</mat-card>    -->


<section fxLayoutAlign="center center">
    <div class="all-conntent-page">
        <div fxLayoutAlign="center center" class="home-conntent">
            <div fxLayout="column" fxLayoutAlign="center center">

                <mat-card
                    style=" box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 1px rgb(0 0 0 / 12%)!important;">




                    <h1 class="main-header">SIGN IN</h1>
                    <form fxLayout="column" class="comman-from " style="padding-top: 10px;">
                        <div class="test" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center">
                            <mat-form-field appearance="legacy" fxFlex="50" class="form-field-left">
                                <input matInput placeholder="Enter Email" class="placeholderinput">
                            </mat-form-field>
                            <mat-form-field appearance="legacy" fxFlex="50" class="form-field-right">
                                <input matInput placeholder="Enter password" class="placeholderinput">

                            </mat-form-field>
                        </div>

                        <div fxLayout="row">
                            <div fxFlex="10"></div>

                            <div fxFlex="50">
                                <div fxLayout="row" class="row example-button5" style="padding-top:10px;">
                                    <button mat-button [routerLink]="['/dashboard/addsong']">Login as Lead Artist
                                    </button>
                                </div>
                            </div>
                            <div fxFlex="50">

                                <div fxLayout="row" class="row example-button6" style="padding-top:10px;">

                                    <a mat-button href='http://localhost:4200/dashboard/video-recorder.html'> Login as Artist
                                    </a>


                                </div>
                            </div>

                        </div>

                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</section>